body {
    font-family: Arial, sans-serif;
    text-align: center;
    user-select: none;
}

#board {
    position: relative;
    display: inline-block;
    margin-top: 20px;
}

.cell {
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    border-radius: 50%;
    user-select: none;
}

.cell.empty:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

.cell.yellow {
    background-color: rgba(255, 255, 0);
}

.cell.red {
    background-color: rgba(255, 0, 0);
}

#status {
    margin-top: 20px;
    font-weight: bold;
}

#reset {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px 35px;
    font-size: 20px;
    background-color: rgba(0, 255, 0, 0.5);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    display: none;
    transform: translate(-50%, -50%);
}

#playerIndicator {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.playerCircle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 5px;
    display: none;
}

.yellowCircle {
    background-color: yellow;
}

.redCircle {
    background-color: red;
}

#board::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: -1;
}

.cell.winYellow {
    background-color: rgba(128, 128, 128);
    /* background-color: rgba(153, 153, 0); Farbe anpassen */
}

.cell.winRed {
    background-color: rgba(128, 128, 128);
    /* background-color: rgba(139, 0, 0); Farbe anpassen */
}
